.card-container {
  margin-bottom: 10px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 300px;
  background-color: var(--color-aqua);
  color: var(--color-dark-blue);
  box-shadow: #8ec760 0px 0px 7px 3px;
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
}
.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__info-description {
  text-align: right;
}

li {
  list-style: none;
  margin-bottom: 20px;
}
